<% layout('boilerplate') -%>


<h1>Shop Smart, Save big!</h1>

<p>Starting point to create something more unique</p>

<p>Sign up to start Buying</p>
<h3>Start your Search Here</h3>


<p>Our prices are some of the best on the web</p>


<p>Look for Smart Items?</p>
<h3>These will appear accross the site as you add to your cart</h3>

<h3>Build a smart cart</h3>
<p>The more smart you buy, the more you save :)</p>